html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


html,
body {
    height: 100%;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    display: inline-block;
}

img {
    display: inline-block;
}

input {
   font-family: inherit;
   color: inherit; 
}

input::placeholder {
   font-family: inherit;
   color: inherit; 
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
    overflow-x: hidden;
    
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-box {
    padding: 150px 0;
}

.section__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 64px;
}

.header {
    min-height: 100vh;
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 40px;
    font-weight: 700;
}

.menu__btn {
    border-radius: 30px;
    padding: 15px 58px;
    background-color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.header__content-images {
    text-align: center;
}

.header__content-images::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    width: 100%;
    background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

.header__content-img {
    display: inline-block;
    /* padding-bottom: 50%; */
}

.title {
    font-weight: 700;
    font-size: 210px;
    position: absolute;
    padding-top: 110px;
}

.title--pod {
    position: relative;
    z-index: -1;
}

.title--s {
    display: inline-block;
    transform: translateY(60px);
}
.title--m {
    display: inline-block;
    transform: translate(-57px, 260px);
}

.title--ax {
   display: inline-block;
position: relative;
   z-index: -1;
    transform: translate(-128px, 413px);
}

/* choose-color */
.choose-color {
    padding: 45px 0 180px;
    text-align: center;
}

.choose-color__title {
    font-weight: 700;
    font-size: 36px;
    max-width: 555px;
    margin: 0 auto 20px;
}

.choose-color__text {
    font-weight: 500;
    font-size: 16px;
    max-width: 557px;
    margin: 0 auto 80px;
}

.choose-color__list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.choose-color__btn {
    border: 1px solid #777777;
    border-radius: 20px;
    padding: 50px 55px;
}

/* composition */
.composition {
    
    margin-bottom: 180px;
}
.composition__title {
    text-align: center;
}

.composition__text {
    max-width: 655px;
    text-align: center;
    margin: 0 auto 40px;
}
.composition__inner {
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.composition__inner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.composition__inner-text p {
    width: 230px
}

/* case */
.case {
    background-color: #FAFAFA;
    padding: 80px 0 100px;
    text-align: center;
}
.case__title {
}
.section__title {
}
.case__text {
    max-width: 825px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.energy__title {
    padding-top: 160px;
    margin-bottom: 40px;
}
.energy__num {
    font-weight: 700;
    font-size: 210px;
    margin-bottom: 40px;
}
.energy__text {
    
    max-width: 400px;
    margin: 0 auto;
}

